@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SimpleView</title>
</head>
<body>
<div>
    <h1>Hello, this is a simple view adding 2 and 1</h1>
    <p id="result">@(2+1)</p>
</div>
</body>
</html>
