@model System.Drawing.Point
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewWithModel</title>
</head>
<body>
<div>
    <span id="x">@Model.X</span>
    <span id="y">@Model.Y</span>
</div>
</body>
</html>
