
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SimpleViewWithPartial</title>
</head>
<body>
<div>
    @Html.Partial("SimplePartial")
</div>
</body>
</html>
